.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.form__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .form__actions {
    flex-direction: column;
  }

  .form__actions button {
    width: 100%;
  }
}